@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-family: Helvetica, sans-serif;
}

/* General Background Styles */
.bg-hero, .bg-search {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-hero {
  background-image: url('/backgrounds/hero.webp');
}

.bg-search {
  background-image: url('../../public/search.webp');
}

@media (max-width: 768px) {
  .bg-hero {
    background-image: url('../../public/backgrounds/hero-bg-mobile.webp');
    background-size: contain;
    background-position: top center;
  }
  .bg-search {
    background-attachment: scroll;
  }
}

.bg-presentation, .bg-footer {
  background-color: #071323;
}

/* Hover Nav Header */
.nav-item {
  position: relative;
  overflow: hidden;
}

.nav-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.nav-item:hover::before {
  background-color: #B46143;
}
